<div class="surface-ground h-screen w-screen flex flex-column align-items-center justify-content-center p-3 sm:p-5">
  <div class="surface-card shadow-2 grid w-full h-full align-content-start overflow-auto m-0" style="border-radius: 14px">
    <div class="col-12 py-3 -mt-3 text-center sticky top-0 surface-card">
      <img src="/assets/images/logo.png" height="60px" />
      <h1 class="text-3xl m-0 mt-3 bg-secondary">Terms and Condition</h1>
    </div>
    <div class="col-12 sm:px-5">
      <p class="text-color-secondary">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, praesentium tenetur laudantium illo corporis amet illum aliquid,
        suscipit accusantium iusto ab veritatis quas. Ea odit doloremque similique non ducimus dolorum, reprehenderit ad deleniti corrupti
        molestias temporibus ratione quidem, quam nam magni excepturi tempora? Reprehenderit quas laborum vero alias at saepe, magni sequi
        quasi earum, temporibus eligendi suscipit esse labore ratione in! Quia repudiandae libero omnis error excepturi recusandae
        voluptatum tempore beatae facilis, ad dignissimos minus laboriosam maiores magni, voluptatem similique alias dolor cupiditate quas
        delectus quaerat ab nobis autem. Pariatur eius aliquam ratione ex eos natus voluptatibus necessitatibus qui quaerat similique
        adipisci modi quae voluptates tempora, magni rerum rem porro? Illum voluptatibus fugit placeat accusamus molestiae suscipit. Illo
        totam illum voluptatum saepe molestias explicabo adipisci ut tempora eveniet nobis! Dolor ut, iusto adipisci facilis quisquam minus
        quasi, repellendus sequi dicta numquam autem quo temporibus quod repudiandae eaque consequatur recusandae vitae?
      </p>
      <p class="text-color-secondary">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, praesentium tenetur laudantium illo corporis amet illum aliquid,
        suscipit accusantium iusto ab veritatis quas. Ea odit doloremque similique non ducimus dolorum, reprehenderit ad deleniti corrupti
        molestias temporibus ratione quidem, quam nam magni excepturi tempora? Reprehenderit quas laborum vero alias at saepe, magni sequi
        quasi earum, temporibus eligendi suscipit esse labore ratione in! Quia repudiandae libero omnis error excepturi recusandae
        voluptatum tempore beatae facilis, ad dignissimos minus laboriosam maiores magni, voluptatem similique alias dolor cupiditate quas
        delectus quaerat ab nobis autem. Pariatur eius aliquam ratione ex eos natus voluptatibus necessitatibus qui quaerat similique
        adipisci modi quae voluptates tempora, magni rerum rem porro? Illum voluptatibus fugit placeat accusamus molestiae suscipit. Illo
        totam illum voluptatum saepe molestias explicabo adipisci ut tempora eveniet nobis! Dolor ut, iusto adipisci facilis quisquam minus
        quasi, repellendus sequi dicta numquam autem quo temporibus quod repudiandae eaque consequatur recusandae vitae?
      </p>
      <p class="text-color-secondary">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, praesentium tenetur laudantium illo corporis amet illum aliquid,
        suscipit accusantium iusto ab veritatis quas. Ea odit doloremque similique non ducimus dolorum, reprehenderit ad deleniti corrupti
        molestias temporibus ratione quidem, quam nam magni excepturi tempora? Reprehenderit quas laborum vero alias at saepe, magni sequi
        quasi earum, temporibus eligendi suscipit esse labore ratione in! Quia repudiandae libero omnis error excepturi recusandae
        voluptatum tempore beatae facilis, ad dignissimos minus laboriosam maiores magni, voluptatem similique alias dolor cupiditate quas
        delectus quaerat ab nobis autem. Pariatur eius aliquam ratione ex eos natus voluptatibus necessitatibus qui quaerat similique
        adipisci modi quae voluptates tempora, magni rerum rem porro? Illum voluptatibus fugit placeat accusamus molestiae suscipit. Illo
        totam illum voluptatum saepe molestias explicabo adipisci ut tempora eveniet nobis! Dolor ut, iusto adipisci facilis quisquam minus
        quasi, repellendus sequi dicta numquam autem quo temporibus quod repudiandae eaque consequatur recusandae vitae?
      </p>
      <p class="text-color-secondary">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas, praesentium tenetur laudantium illo corporis amet illum aliquid,
        suscipit accusantium iusto ab veritatis quas. Ea odit doloremque similique non ducimus dolorum, reprehenderit ad deleniti corrupti
        molestias temporibus ratione quidem, quam nam magni excepturi tempora? Reprehenderit quas laborum vero alias at saepe, magni sequi
        quasi earum, temporibus eligendi suscipit esse labore ratione in! Quia repudiandae libero omnis error excepturi recusandae
        voluptatum tempore beatae facilis, ad dignissimos minus laboriosam maiores magni, voluptatem similique alias dolor cupiditate quas
        delectus quaerat ab nobis autem. Pariatur eius aliquam ratione ex eos natus voluptatibus necessitatibus qui quaerat similique
        adipisci modi quae voluptates tempora, magni rerum rem porro? Illum voluptatibus fugit placeat accusamus molestiae suscipit. Illo
        totam illum voluptatum saepe molestias explicabo adipisci ut tempora eveniet nobis! Dolor ut, iusto adipisci facilis quisquam minus
        quasi, repellendus sequi dicta numquam autem quo temporibus quod repudiandae eaque consequatur recusandae vitae?
      </p>
    </div>
  </div>
</div>
