<div class="surface-ground h-screen w-screen flex flex-column align-items-center justify-content-center">
  <div class="surface-card p-3 sm:p-4 shadow-2 grid w-11 sm:w-30rem" style="border-radius: 14px">
    <div class="col-12 pb-3 text-center">
      <img src="/assets/images/logo.png" height="60px" />
    </div>
    <div class="col-12 pb-3 text-center">
      <h1 class="text-3xl m-0">Forgot Password!</h1>
    </div>
    <form (submit)="onSubmit()" [formGroup]="forgotForm" class="col-12 grid mx-0">
      <div class="col-12 px-0 mb-3">
        <div class="p-float-label form-group">
          <input pInputText formControlName="username" id="username" aria-describedby="username-help" #usernameC="control" />
          <label htmlFor="username">Username</label>
        </div>
        <p-form-errors text="Username" [controlRef]="usernameC"></p-form-errors>
      </div>
      <div class="col-12 px-0 mb-3">
        <button pButton label="Reset Password" class="p-button-primary w-full"></button>
      </div>
      <div class="col-12 px-0 mb-3 text-center">
        <p-button [routerLink]="ps.appRoutes.login" [text]="true" styleClass="p-0">Back to Login Page</p-button>
      </div>
    </form>
  </div>
  <p class="text-center px-3 m-0">
    &copy; {{ year }} Befree Business Resourcing LLP.&nbsp;&nbsp;<br class="sm:hidden" />All Rights Reserved.
  </p>
</div>
