<div class="surface-ground h-screen w-screen flex flex-column align-items-center justify-content-center">
  <div class="surface-card p-3 sm:p-4 shadow-2 grid w-11 sm:w-30rem" style="border-radius: 14px">
    <div class="col-12 pb-3 text-center">
      <img src="assets/images/logo.png" height="50px" />
    </div>
    <div class="col-12 pb-3 text-center">
      <p class="text-color-secondary">You have been successfully logged out.</p>
    </div>
    <div class="col-12 text-center">
      <button pButton pRipple label="Go to Login" class="p-button-primary"></button>
    </div>
  </div>
  <p class="text-center px-3 m-0">
    &copy; {{ year }} Befree Business Resourcing LLP.&nbsp;&nbsp;<br class="sm:hidden" />All Rights Reserved.
  </p>
  <p class="text-center m-0" *ngIf="platform !== 'PRODUCTION'">[ --- {{ platform }} --- ]</p>
</div>
