<div class="surface-ground h-screen w-screen flex flex-column align-items-center justify-content-center">
  <div class="surface-card p-3 sm:p-4 shadow-2 grid w-11 sm:w-30rem" style="border-radius: 14px">
    <div class="col-12 pb-3 text-center">
      <img src="/assets/images/logo.png" height="60px" />
    </div>
    <div class="col-12 pb-3 text-center">
      <h1 class="text-3xl m-0">Reset Password!</h1>
    </div>
    <form (submit)="onSubmit()" [formGroup]="resetForm" class="col-12 grid mx-0">
      <div class="col-12 px-0">
        <div class="p-float-label form-group">
          <p-password formControlName="password" id="password" #passwordC="control" [toggleMask]="true"></p-password>
          <label htmlFor="password">Password</label>
        </div>
        <p-form-errors text="Password" [controlRef]="passwordC"></p-form-errors>
      </div>
      <div class="col-12 px-0 mb-3">
        <div class="p-float-label form-group">
          <p-password formControlName="confirmPassword" id="confirmPassword" #confirmPasswordC="control" [toggleMask]="true"></p-password>
          <label htmlFor="confirmPassword">Confirm Password</label>
        </div>
        <p-form-errors
          text="Confirm Password"
          [controlRef]="confirmPasswordC"
          [message]="{notEqual: 'Confirm Password Does not match with Password'}"
        ></p-form-errors>
      </div>
      <div class="col-12 px-0">
        <button pButton label="Change Password" class="p-button-primary w-full"></button>
      </div>
      <div class="col-12 py-3 text-center">
        <p-button [routerLink]="ps.appRoutes.login" [text]="true" styleClass="p-0">Back to Login Page</p-button>
      </div>
    </form>
  </div>
  <p class="text-center px-3 m-0">
    &copy; {{ year }} Befree Business Resourcing LLP.&nbsp;&nbsp;<br class="sm:hidden" />All Rights Reserved.
  </p>
</div>
