<ng-container [ngSwitch]="type">
  <!-- DATE -->
  <ng-container *ngSwitchCase="'DATE'">{{ (data | date: config?.format || 'dd/MM/yyyy') ?? default ?? '' }}</ng-container>

  <!-- TIME -->
  <ng-container *ngSwitchCase="'TIME'">{{ (data | date: config?.format || 'HH:mm:ss') ?? default ?? '' }}</ng-container>

  <!-- DATE_TIME -->
  <ng-container *ngSwitchCase="'DATE_TIME'">{{ (data | date: config?.format || 'dd/MM/yyyy HH:mm:ss') ?? default ?? '' }}</ng-container>

  <!-- HOUR_MINUTE -->
  <ng-container *ngSwitchCase="'HOUR_MINUTE'">{{ (data | date: config?.format || 'HH:mm') ?? default ?? '' }}</ng-container>

  <!-- NUMBER -->
  <ng-container *ngSwitchCase="'NUMBER'">
    {{ ps.fixDecimal(+data, decimal) || default || '0' + (decimal !== 0 && '.') + '0'.repeat(decimal) }}
  </ng-container>

  <!-- BADGE -->
  <ng-container *ngSwitchCase="'BADGE'">
    <div [ngSwitch]="data">
      <ng-container *ngFor="let badge of config?.badge">
        <div *ngSwitchCase="badge.value">
          <p-badge
            *ngIf="badge.hide !== true"
            [value]="badge.label"
            styleClass="badge text-{{ badge.size || 12 }} bg-{{ badge.type }}"
          ></p-badge>
        </div>
      </ng-container>
      <ng-container *ngIf="!!data">
        <div *ngSwitchDefault>
          <p-badge [value]="data" styleClass=""></p-badge>
        </div>
      </ng-container>
    </div>
  </ng-container>

  <!-- LINK -->
  <ng-container *ngSwitchCase="'LINK'">
    <ng-container *ngIf="!!data && !!config?.routerLink(data, dataItem)?.link">
      <a
        class="{{ config?.routerLink(data, dataItem)?.class || 'text-primary-2' }}"
        [href]="[config?.routerLink(data, dataItem)?.link] || default || ''"
        [target]="config?.routerLink(data, dataItem)?.target || '_self'"
        [class.k-disabled]="config?.routerLink(data, dataItem)?.disabled || false"
      >
        {{ config?.routerLink(data, dataItem)?.text?.trim() || data?.trim() }}
      </a>
    </ng-container>
    <ng-container *ngIf="!!data && !config?.routerLink(data, dataItem)?.link">{{ data }}</ng-container>
  </ng-container>

  <!-- MULTI_LINK -->
  <ng-container *ngSwitchCase="'MULTI_LINK'">
    <ng-container *ngIf="!!data">
      <ng-container *ngFor="let item of data?.split(config?.linkSeparator || ','); let first = first">
        <ng-container *ngIf="!!item && !!config?.routerLink(item, dataItem)?.link">
          <span *ngIf="first !== true"> | </span>
          <a
            class="{{ config?.routerLink(item, dataItem)?.class || 'text-primary-2' }}"
            [href]="[config?.routerLink(item, dataItem)?.link] || default || ''"
            [target]="config?.routerLink(item, dataItem)?.target || '_self'"
            [class.k-disabled]="config?.routerLink(item, dataItem)?.disabled || false"
            [text]="config?.routerLink(data, dataItem)?.text?.trim() || item?.trim()"
          >
          </a>
        </ng-container>
        <ng-container *ngIf="!!item && !config?.routerLink(item, dataItem)?.link">{{ item }}</ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- JSON -->
  <ng-container *ngSwitchCase="'JSON'">
    <pre>{{ data | json }}</pre>
  </ng-container>

  <!-- INDEX -->
  <ng-container *ngSwitchCase="'INDEX'">
    {{ rowIndex + 1 }}
  </ng-container>

  <!-- CUSTOM -->
  <ng-container *ngSwitchCase="'CUSTOM'">
    <ng-content></ng-content>
  </ng-container>

  <!-- Default -->
  <ng-container *ngSwitchDefault>{{ data ?? default ?? '' }}</ng-container>
</ng-container>
